<div class="px-4 mt-8 lg:px-16">
  <div class="flex justify-between mb-2">
    <span class="my-auto font-semibold">Applications</span>
    <span></span>
  </div>
  <div class="w-full hidden lg:flex">
    <table class="table table-fixed w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Details</th>
          <th>School</th>
          <th>Fee</th>
          <th>Uploaded Documents</th>
          <th>Response</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr
          (click)="selectApplication(application.application_id)"
          *ngFor="let application of applications; index as i"
        >
          <td
            class="transition-all hover:scale-95 cursor-pointer"
            (click)="selectOwner(owners[i].user_id)"
          >
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img
                    [src]="owners[i].image"
                    alt="Owner profile image"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">{{ owners[i].name }}</div>
                <div class="text-sm opacity-50">
                  {{ vehicles[i].brand }} {{ vehicles[i].model }}
                </div>
              </div>
            </div>
          </td>
          <td
            class="transition-all hover:scale-95 cursor-pointer"
            (click)="selectSchool(schools[i].school_id)"
          >
            {{ schools[i].school_name }}
            <br />
            <span class="badge badge-ghost badge-sm">{{
              schools[i].school_location
            }}</span>
          </td>
          <td>
            <!--price -->
            {{prices[i]}}
          </td>
          <td>
            <!-- button for document -->
            <button
              style="background-color: var(--main-dark)"
              [ngClass]="
                load
                  ? 'btn capitalize gap-2 loading text-white font-normal'
                  : 'btn capitalize font-normal gap-2'
              "
              (click)="viewDocument(vehicles[i])"
            >
              <span class="text-white">View Documentation</span>
              <i class="fi fi-rr-document text-white"></i>
            </button>
          </td>
          <td>
            <div class="flex justify-start my-auto gap-2 w-3/4 mx-auto pb-4">
              <label
                for="my-modal-6"
                class="btn btn-error capitalize font-normal"
                (click)="declineApplication(application.application_id)"
              >
                Decline</label
              >

              <input type="checkbox" id="my-modal-6" class="modal-toggle" />
              <div class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg text-left">Provide Feedback</h3>
                  <form
                    [formGroup]="feedback"
                    (submit)="onDecline(feedback)"
                    class="w-full"
                  >
                    <textarea
                      class="textarea bg-accent w-full"
                      placeholder="Enter feedback here ..."
                      formControlName="feedback"
                    ></textarea>

                    <div class="modal-action">
                      <label
                        for="my-modal-6"
                        style="background-color: var(--main-dark)"
                        class="btn text-white capitalize font-normal"
                        >Cancel</label
                      >
                      <button
                        [ngClass]="
                          loadDecline
                            ? 'btn capitalize btn-error loading font-normal'
                            : 'btn capitalize btn-error font-normal'
                        "
                      >
                        <span class="text-white">{{ messageDecline }}</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>

              <button
                style="background-color: var(--main-dark)"
                [ngClass]="
                  loadApprove
                    ? 'btn capitalize text-white loading font-normal'
                    : 'btn capitalize font-normal'
                "
                (click)="approveApplication(application)"
              >
                <span class="text-white">{{ messageApprove }}</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex lg:hidden flex-col gap-2">
    <div
      class="flex px-2 h-24 w-full bg-accent mx-auto rounded-xl relative"
      *ngFor="let application of applications; index as i"
      (click)="selectApplication(application.application_id)"
    >
      <img
        class="w-20 h-20 object-cover rounded-xl my-auto"
        [src]="owners[i].image"
        alt=""
      />
      <div class="flex flex-col pt-4 pl-4">
        <div class="name font-medium">
          {{ owners[i].name }} {{ owners[i].surname }}
        </div>
        <p style="color: var(--grey-light)" class="text-sm">
          {{ vehicles[i].brand }} {{ vehicles[i].model }}
        </p>
        <p style="color: var(--grey-light)" class="text-xs">
          {{ schools[i].school_name }}
        </p>
      </div>

      <div
        class="flex h-5 w-fit px-3 absolute top-0 right-0 text-xs rounded-bl-xl rounded-tr-lg bg-neutral"
      >
        <span class="text-white font-bold my-auto">New</span>
      </div>
    </div>
  </div>
</div>
