<div class="px-6 mt-4">
    <div class="flex justify-between">
      <button class="btn px-0 btn-ghost capitalize gap-2" >
        <i class="fi fi-br-angle-left"></i>
        Back
      </button>
      <span></span>
    </div>
  
    
    <div class="profile flex justify-items-start gap-3 w-full h-36 mb-4">
      <img
        class="w-36 h-36 object-cover rounded-xl my-auto"
        src="https://media.istockphoto.com/id/1377893181/photo/shot-of-young-man-delivering-a-package-while-sitting-in-a-vehicle.jpg?b=1&s=170667a&w=0&k=20&c=XweAFF0r3bKaydPxQ5hT2B3RKnv5FiAAFRb9xya1nWI="
        alt=""
      />
    </div>
       <!-- <div class="details flex flex-col justify-between">
        <div class="contacts flex flex-col">
          <span class="text-lg font-semibold w-48"
            >{{ owner.name }} {{ owner.surname }}
          </span>
          <div class="contact flex flex-col text-xs">
            <span class="text-sm -my-1"
              >{{ vehicle.brand }} {{ vehicle.model }}</span
            >
            <span class="text-sm"
              >{{ vehicle.vehicle_reg }} ({{ vehicle.color }})</span
            >
          </div>
          <button
            class="btn px-2 py-0 btn-ghost w-28 text-white gap-1 rounded-md"
            style="background-color: var(--main-dark)"
          >
            <i class="fi fi-rr-chart-line-up"></i>
            {{ owner.ratings }}
            <div
              class="vl my-auto rounded-sm mx-1"
              style="
                border-left: 1px solid rgba(219, 219, 219, 0.545);
                height: 20px;
              "
            ></div>
            <div
              class="flex flex-col justify-start text-xs text-start lowercase gap-0"
            >
              <span *ngIf="owner.votes > 50">50+</span>
              <span [hidden]="owner.votes > 50">{{ owner.votes }}</span>
              <span class="-mt-1">Voted</span>
            </div>
          </button>
          <span class="text-lg font-semibold">{{ price }} pm</span>
        </div>
      </div>
    </div>
   -->
    
   
