<div class="px-2  md:px-10 lg:px-14">
  <div class="flex justify-between">
    <button class="btn px-0 btn-ghost capitalize gap-2" (click)="back()">
      <i class="fi fi-br-angle-left"></i>
      Back
    </button>
    <span></span>
  </div>
  
  <div class="profile flex justify-items-start gap-3 w-full h-36 mb-4">
    <img
        class="w-36 h-36 object-cover rounded-xl my-auto"
        src="https://media.istockphoto.com/id/1377893181/photo/shot-of-young-man-delivering-a-package-while-sitting-in-a-vehicle.jpg?b=1&s=170667a&w=0&k=20&c=XweAFF0r3bKaydPxQ5hT2B3RKnv5FiAAFRb9xya1nWI="
        alt=""
      />

    <div class="details flex flex-col justify-between">
      <div class="contacts flex flex-col">
        <span class="text-lg font-semibold w-48"
          >{{vehicle.driver_name}}
        </span>
        <div class="contact flex flex-col text-xs">
          <span class="text-sm -my-1"
            >{{ vehicle.brand }} {{ vehicle.model }}</span
          >
          <span class="text-sm"
            >{{ vehicle.vehicle_reg }} ({{ vehicle.color }})</span
          >
        </div>
        <button
          class="btn px-2 py-0 btn-ghost w-28 text-white gap-1 rounded-md"
          style="background-color: var(--main-dark)"
        >
          <i class="fi fi-rr-chart-line-up"></i>
          {{ vehicle.vehicle_reg }}
        
        </button>
      
      </div>
    </div>
  </div>
    
    <!-- <div class="profile flex justify-items-start gap-3 w-full h-36 mb-4">
      <img
        class="w-36 h-36 object-cover rounded-xl my-auto"
        src="https://media.istockphoto.com/id/1377893181/photo/shot-of-young-man-delivering-a-package-while-sitting-in-a-vehicle.jpg?b=1&s=170667a&w=0&k=20&c=XweAFF0r3bKaydPxQ5hT2B3RKnv5FiAAFRb9xya1nWI="
        alt=""
      />
    </div>

       <div class="details flex flex-col justify-between">
        <div class="contacts flex flex-col">
          <span class="text-lg font-semibold w-48"
            >{{ vehicle.driver_name}}
          </span>
          <div class="contact flex flex-col text-xs">
            <span class="text-sm -my-1"
              >{{ vehicle.brand }} {{ vehicle.model }}</span
            >
            <span class="text-sm"
              >{{ vehicle.vehicle_reg }}</span
            >
          </div>
        </div> -->



          <!-- <button
            class="btn px-2 py-0 btn-ghost w-28 text-white gap-1 rounded-md"
            style="background-color: var(--main-dark)"
          >
            <i class="fi fi-rr-chart-line-up"></i>
            {{ owner.ratings }}
            <div
              class="vl my-auto rounded-sm mx-1"
              style="
                border-left: 1px solid rgba(219, 219, 219, 0.545);
                height: 20px;
              "
            ></div>
            <div
              class="flex flex-col justify-start text-xs text-start lowercase gap-0"
            >
              <span *ngIf="owner.votes > 50">50+</span>
              <span [hidden]="owner.votes > 50">{{ owner.votes }}</span>
              <span class="-mt-1">Voted</span>
            </div>
          </button>
          <span class="text-lg font-semibold">{{ price }} pm</span>
        </div>
      </div>
    </div>
   -->


   <div class="mt-5 md:col-span-2 md:mt-0">
    <!-- <form form (ngSubmit)="onSubmit(addRequestForm)"  [formGroup]="addRequestForm"> -->
      <form   [formGroup]="addRequestForm" >
      <div class="overflow-hidden shadow sm:rounded-md">
        <div class="bg-white px-4 py-5 sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="first-name" class="block text-sm font-medium text-gray-700">Message(optional)</label>
              <input type="text"  formControlName="message" placeholder="Type a message" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 block w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm bg-accent " style="height: 60px;">
            </div>

           
              <label for="last-name" class="block text-sm font-medium text-gray-70">Pick up address</label>
              <input type="text" formControlName="address" placeholder="Address Line 1" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm bg-accent " style="height: 32px;">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="first-name" class="block text-sm font-medium text-gray-700">Number of kids</label>
              <input type="text" formControlName="num_kids" name="first-name" placeholder="Enter Number of Kids" id="first-name" autocomplete="given-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm bg-accent" style="height: 32px;">
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label for="last-name" class="block text-sm font-medium text-gray-700">Description</label>
              <input type="text" formControlName="description text-xs" placeholder="Children Details" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm bg-accent" style="height: 70px;">
            </div>
         

            <div class="col-span-6 sm:col-span-3">
              <button  class="btn btn-wide" (click)=" onSubmit(addRequestForm)" >Submit
                <!-- <span>{{messages}}</span> -->
              </button>
            </div>
          </div>
       
   
  </div>