.search-bar input
{
  &::placeholder{
    color: var(--grey-dark);
  }
}
.schools
{
background-color: var(--main-light);
}
.w-4  {
  margin-right: 0px !important;
  display: inline-block
}
.schools:nth-child(2n)
{
  background-color: var( --secondary-color);
}
.drivers
{
    background-color:var( --secondary-color);
}
