
  <div class="  mt-4 md:px-12 lg:px-20 ">
    <h4>
      <span id="span" > {{ vehiDetails.brand }} {{ vehiDetails.model }}</span>
      </h4>
    </div> 
  <form [formGroup]="addVehicleForm" (ngSubmit)="onSubmit(addVehicleForm)" >
    <div>
      
  <div
    class="diver flex justify-start lg:block md:bg-accent md:py-5 md:rounded-2xl md:pl-5 md:bg-opacity-40 gap-3 lg:gap-6 w-full h-fit mb-4"
  >
  
    <form 

    
      [formGroup]="addVehicleForm"
      (ngSubmit)="onSubmitvehiDetails(addVehicleForm)"
      class="form w-full flex flex-col gap-2 transition-all"
    >
      <h4 class="font-semibold">Change your driver</h4>
      <div class="form-control gap-1 lg:max-w-xl">
        <label for="name">Driver Name</label>
        <input
          type="text"
          class="input bg-accent"
          formControlName="driver_name"
          [placeholder]="vehiDetails.driver_name"
        />
      </div>

      <div class="form-control gap-1 lg:max-w-xl">
        <label for="name">Driver's Cellphone</label>
        <input
          type="text"
          class="input bg-accent"
          formControlName="driver_cellphone"
          [placeholder]="vehiDetails.driver_cellphone"
        />
      </div>

      <div>
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
          for="large_size"
          >Upload Driver Image</label
        >
        <div class="form-control gap-1 lg:max-w-xl">

        <input
          type="file"
          accept=".png, .jpg, .jpeg"
          formControlName="driver_img"
          (change)="onDriverImg($event)"
         
        />

        <div class="flex justify-center  lg:justify-start mt-8">
          <br>             
          <button type="submit" style="background-color:#333333 ;color:white;" class="submit"class=btn-sm>Save</button>

        </div>
        </div>
      </div>
    </form>
  </div>
</div>
