

  <!-- hamburger -->
  <input type="checkbox" id="navi-toggle" class="checkbox" />
  <label for="navi-toggle" class="button">
    <span class="icon">&nbsp;</span>
  </label>
  <div class="background">&nbsp;</div>

  <!-- nav -->
  <nav class="nav">
    <ul class="list"><i class="fas fa-home"></i>
   
      
       <i class="bi bi-house-door-fill"></i> <i class="bi bi-house-door-fill"></i> <li class="item"> <a class="link"> Home </a> </li>
      <li class="item"> <a class="link"> Applications </a> </li>
      <li class="item"> <a class="link"> Vehicle Owners</a> </li>
      <li class="item"> <a class="link"> Sign Out </a> </li>
    
    </ul>
  </nav>

