
  <input type="checkbox" id="navi-toggle" class="checkbox" />
  <label for="navi-toggle" class="button">
    <span class="icon">&nbsp;</span>
  </label>
  <div class="background">&nbsp;</div>

  <!-- nav -->
  <nav class="nav">
    <ul class="list">
      <li class="item"> <a class="link"> Home</a> </li>
      <li class="item"> <a class="link"> Applications</a> </li>
      <li class="item"> <a class="link"> Vehicles </a> </li>
      <li class="item"> <a class="link"> Profile</a> </li>
      <li class="item"> <a class="link"> Sign Out</a> </li>
  
    </ul>
</nav>

