<form
  [formGroup]="loginForm1"
  (ngSubmit)="onlogin(loginForm1)"
  class="w-full mx-auto gap-2 mb-5 px-3"
  method="POST"
>
<img
          class="logo w-60 mx-auto"
          id="logo"
          src="../../../assets/Logo.png"
          alt="Backimage"
        />

      <p class="mt-3 text-center tracking-tight text-gray-900">
        sign in and get ride <br />for your child
      </p>
  <div
    class="flex flex-col w-full items-center justify-center rounded-lg px-4 sm:px-6 lg:px-8" style="background-color: var(--grey-dark)"
  >
    <div class="w-full pt-10">
      <div
        id="bg"
        class=""
      >
        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            Email

            >
            <input
              type="email"
              formControlName="email"
              id="email"
              required
              id="email-address"
              name="email"
              type="email"
              autocomplete="email"
              required
              class="input w-full  border bg-white text-white sm:text-sm"
              placeholder="Email address"
              formControlName="email"
            />
          </div>
          <div>
            Password
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              class="input w-full border border-gray-300 text-white   sm:text-sm"
              placeholder="Password"
              formControlName="password"
            />
          </div>
        </div>



        <div>

        </div>

      </div>
    </div>
    <br>
    <button  id="button1"  class="btn btn-xs sm:btn-sm md:btn-md xlg:btn-lg">Sign in</button>
    <br>
  </div>

  <br>

  <p class="txt">don't have account? </p><button class="btn btn-xs sm:btn-sm md:btn-md xlg:btn-lg" [routerLink]="['/register']" routerLinkActive="router-link-active" >Sign up</button>
  <br>
  <!-- <button id="acc"class="mt-6 text-center tracking-tight text-gray-900"
  [routerLink]="['/register']"
  routerLinkActive="router-link-active"><br> sign up
</button> -->

</form>
