
  <input type="checkbox" id="navi-toggle" class="checkbox" />
  <label for="navi-toggle" class="button">
    <span class="icon">&nbsp;</span>
  </label>
  <div class="background">&nbsp;</div>

  <!-- nav -->
  <nav class="nav bg-black bg-opacity-75">
    <ul class="list">
      <li class="item"> <a id ="text1" class="link"> Home</a> </li>
      <li class="item"> <a id ="text1" class="link"> Applications</a> </li>
      <li class="item"> <a id ="text1"  class="link"> Vehicles Owner </a> </li>
    
      <li class="item"> <a id ="text1" class="link"> Sign Out</a> </li>
  
    </ul>
</nav>
