#button {
    margin: auto;
    width: 36%;

    padding: 10px;
    margin-left: 29%;
    background-color:#FFDAAE;
    color:black;
    border-radius: 25px;;
  }
  #img1{

    margin-left: 15%;
   



  }

  #logo{
    width: 70%;
    margin-left: 15%;
    padding: -5px;
 

  }