
<img class="mech items-center" id="logo"src="../../../assets/Logo.png" alt="Backimage">
<br>
<img class="mech items-center" id="img1" src="../../../assets/Frame 3.png" alt="Backimage">
<div class="container">



    <br>
    
    <button class="button"  id ="button" type="button" [routerLink]="['/auth/signin']"  class=" btn inline-block px-6 bg--tertiary-color text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Get Started</button>
</div>