<div class="px-6">
  <br />
  <br />
  <img
    class="logo items-center"
    id="logo"
    src="../../../assets/Logo & Slogan.png"
    alt="Backimage"
    style="width: 219px; height: auto"
  />
  <br />
  <br />
  <br />
  <img
    class="logo items-center"
    id="logo"
    src="../../../assets/Frame_3.png"
    alt="Backimage"
    style="width: 219px; height: auto"
  />
  <br />
  <button
    class="btn glass"
    [routerLink]="['/login']"
    routerLinkActive="router-link-active"
  >
    Get Started
  </button>
</div>
