
.input{
  color: #9E9E9E;
}
.card{
    height: 20vh;
    width: 50vh;
    background-color: #F4F4F4;
    margin-top: 5%;
}
h2 {
	font-weight: bold;
  padding: 30px 30px 5px 0;

}

// }
// h2{
//   padding-top: 1%;
//   font-weight: bold;

// }

// .dropdown-content {
//   position: absolute;
//   background-color: #333333;
//   min-width: 160px;
//   color: white;
//   display:flex;




.btn{
    background-color: #A3B4A2;
    float:right;
    margin-bottom: 20%;

    
}


// .dropbtn {
//     background-color: #F4F4F4;
//     padding: 12px;
//     font-size: 14px;
//     border: none;
//     cursor: pointer;
//     border-radius: 3px;
//   }
  
  // .dropdown {
  //   display: inline-block;
  // }
  
  
  
 
  

  
//   .dropdown:hover .dropdown-content {display: block;}
  
//   .dropdown:hover .dropbtn 
//   {background-color: #F4F4F4;

//   }
//   .dropdown{
//     height: 350px;
//   }
 
  