
.input{
  color: #9E9E9E;
}
.card{
    height: 30vh;
    width: 100vh;
    background-color: #F4F4F4;
    margin: 2%;


}
 h1 {
  margin: 40px;
}

.dropdown-content {
  position: absolute;
  background-color: #333333;
  color: white;
  padding: 12px 10px;
  width: 15%;
}


.btn{
    background-color:white;
    float:right;
    margin-bottom: 20%;
    padding: 12px 10px;
    background: transparent;
    border: none !important;
}


