<label for="my-modal" class="btn">Add Vehicle</label>
<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Brand</span>
            </label>
            <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
          </div>

            <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Model</span>
          </label>
          <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        </div>

   
        <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Vehicle RegNo</span>
            </label>
            <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
          </div>

          
    <div class="modal-action">
      <label for="my-modal" class="btn">Save</label>
    </div>
