
.input{
  color: #9E9E9E;
}
.card{
    display:flex;
    height: 30vh;
    width: 180vh;
    background-color: #F4F4F4;
    margin-top: 10%;
}
h1 {
	font-weight: bold;
  position: fixed;
  margin-top: 40px;
}

.dropdown-content {
  display:inline-block;
  position: absolute;
  background-color: #333333;
  color: white;
  padding: 12px 10px;

}


.btn{
    background-color:white;
    float:right;
    margin-bottom: 20%;
    padding: 12px 10px;
    
}
.card{
  width: 65rem;
}
