<div>
    Requests
  <div class="requests">
    <div class="request bg-accent">
      <img
        class="w-20 h-20 object-cover rounded-2xl my-auto"
        src="https://media.istockphoto.com/id/1372641621/photo/portrait-of-a-businessman-on-gray-background.jpg?b=1&s=170667a&w=0&k=20&c=Yyi5slaeNpq_HPcfgy1305VpJSwerPm_s7mTz_bBk6c="
        alt=""
      />
      <div id="flex" class="flex flex-col">
        <div class="name font-medium">Andries BHILA</div>
        <p style="color: var(--grey-light)" class="text-sm">
          toyota .quantum 2013
        </p>
        <p style="color: var(--grey-light)" class="text-xs">
          auklandpark primary school
        </p>
      </div>

      <div
        class="flex h-5 w-fit px-3 absolute top-0 right-0 text-xs rounded-bl-xl rounded-tr-lg bg-neutral"
      >
        <span class="text-white my-auto">Pending</span>
      </div>
    </div>


    <div class="request bg-accent">
        <img
          class="w-20 h-20 object-cover rounded-2xl my-auto"
          src="https://media.istockphoto.com/id/1372641621/photo/portrait-of-a-businessman-on-gray-background.jpg?b=1&s=170667a&w=0&k=20&c=Yyi5slaeNpq_HPcfgy1305VpJSwerPm_s7mTz_bBk6c="
          alt=""
        />
        <div id="flex" class="flex flex-col">
          <div class="name font-medium">Clement White</div>
          <p style="color: var(--grey-light)" class="text-sm">
            toyota .Avanza 2014
          </p>
          <p style="color: var(--grey-light)" class="text-xs">
            <button class="btn btn-xs sm:btn-sm md:btn-md ">rates service</button>
          
          </p>
        </div>
  
        <div
          class="flex h-5 w-fit px-3 bg-info absolute top-0 right-0 text-xs rounded-bl-xl rounded-tr-lg"
        >
          <span class="text-white  my-auto">Approved</span>
        </div>
      </div>


    
  </div>
</div>
